.boxwrap   { width: 1000px; margin-left: auto; margin-right: auto;
font: 11pt arial, helvetica;

}


div.scroll {
	height: 75px;
	width: 200px;
	overflow: auto;
	border: 1px solid #666;
	background-color:  rgb(235, 241, 244);
	padding: 0px;
}

div.classifyscroll {
	height: 600px;
	width: 800px;
	overflow: auto;
	border: 1px solid #666;
	background-color:  rgb(235, 241, 244);
	padding: 0px;
}

#header {
      height: 100px;
      background-color: #EAEAEA;
      border:1px solid #333;
      padding:0;
      }
      #left {
      position:absolute;
      left:0;
      top:90px;
      padding:0;
      margin-left: 10px;
      width:150px;
      height:100%;
      color: black;
      background: white;
      /*border:1px solid #333;*/
      }
      .content {
      position: relative;
      top:0px;
      margin-left:0px;
      margin-right:0px;
      margin-bottom:10px;
      color:#333;
      /*background:#ffc;*/
      border:1px solid #333;
      padding:0 10px 10px;
      width:800px;
      z-index: 100;
      }

      body {
      margin:10px;
      padding:0;
      font:12px georgia, "Book Antiqua", palatino, serif;
      color:#000;
      background:#fff;
      height:100%; /* this is the key! */
      }



.boxbody   {
	width: 810px;
	background-color: whitesmoke;
	margin: 0px 0px;

}
.section {
	width: 400px;
	z-index: 10;

}
.boxmiddle {
 position: absolute;
	left:161px;
      top:90px;
	/*overflow:auto;*/
	width: auto;
	padding: 0;
	margin: 0px 5px 0px 5px;
	height: 100%;
}

.boxleft   {
	position: relative;
	left: 0px;
	top: 110px;
	width: 150px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0px 0px 0px 0px;
}
.boxright  {
	width: 180px; float: right;
	background-color: whitesmoke;
	margin: 0px 0px;
	height: 200px;
	border: 1px solid blue;
	z-index: 100;

}
.boxheader {

	width: 100%;  clear: both;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;


}
.boxfooter { width: 100%;  clear: both;  }

.boxclear  { clear: both; }

h2.bannerhead {
font-family: arial, helvetica;
padding-top: 15px;

}

 #navlist
{
padding: 0 1px 1px;
margin-left: 0;
font: bold 12px Arial, Helvetica, sans-serif;
background-color: white;
width: 120px;
}

#navlist li
{
list-style: none;
margin: 0px 0px 0px 0px
padding: 0px; 0px 1px 0px;
border-top: 1px solid gray;
text-align: left;
display: inline;
}

#navlist li a
{
display: block;
width: 120px;
padding: 0em 0.5em 0em 0.75em;
border-left: 1em solid silver;
border-top: 1px solid gray;
border-bottom: 1px solid gray;
background: #CCD;
text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover
{
	border-color: blue;/*#FE3;*/
	color: #FF0;
}

h3.contenthead {

	font-family: arial, helvetica;
	text-align: left;
	border-bottom: 2px solid blue;
	border-left: 1px solid blue;
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	position: relative;
	width: 800;
	height: auto;
	background-color: #ffff99;
	z-index: 3;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}


h4.advancedmenu{
	font-family: arial, helvetica;
	border-bottom: 2px solid blue;
	border-top: 1px solid blue;
	width: auto;
	margin: 0px 0px 0px 0px;
	background-color: #ffff99;
	z-index: 3;
	text-align: center;
}

p.styletext {
	color: black;
  	margin: 10px 0px 10px 10px;
   	text-decoration: none;
    	font: 10pt arial, helvetica;
}

p.welcome {
font: bold;
margin: 0px 0px 0px 0px;
}


 #questionmenu
{
float: right;
margin: 0px 0px 30px 30px;
padding: 0;
height: 20px;
}

#questionmenu ul
{
border: 0;
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#questionmenu ul li
{
display: block;
float: left;
text-align: center;
padding: 0;
margin: 0;
}

#questionmenu ul li a
{
background: #fff;
width: 78px;
height: 18px;
border-top: 1px solid #f5d7b4;
border-left: 1px solid #f5d7b4;
border-bottom: 1px solid #f5d7b4;
border-right: none;
padding: 0;
margin: 0 0 10px 0;
color: #f5d7b4;
text-decoration: none;
display: block;
text-align: center;
font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
}



#questionmenu ul li a:hover
{
color: #930;
background: #f5d7b4;
}

#questionmenu a:active
{
background: #c60;
color: #fff;
}

#questionmenu li#active a
{
background: #c60;
border: 1px solid #c60;
color: #fff;
}



tr.question {
	background-color: white;

}
td.questionparameter {
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
	background-color: rgb(213, 230, 225);
	font: normal 12px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	/*white-space: nowrap;*/
}
td.questionparameter2 {
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
	background-color: white;
	font: normal 12px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	/*white-space: nowrap;*/
}

td.questionanswer {
	background-color: papayawhip;
	text-align: center;
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	/*white-space: nowrap;*/


}


td.questionwronganswer {
	background-color: rgb(255, 0, 0);
	text-align: center;
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	/*white-space: nowrap;*/


}
td.questionanswertext {
	background-color: papayawhip;
	text-align: left;
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	/*white-space: nowrap;*/


}

table.question{



}

#question table{
	border-top: 2px solid gray;
	border-left: 2px solid gray;
	border-right: 2px solid gray;
}

#question tr{
background-color: #ffff99;
}




table.results{
	 /*aliceblue;*/
	border: 1px solid gray;
	max-width: 800px;
}

td.results {
	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	white-space: nowrap;
	background-color: rgb(213, 219, 225);
}
#results td.underlined{
	font: underline 18px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	white-space: nowrap;
	background-color: rgb(213, 219, 225);


}

#results table{
	border: 1px solid gray;
}

#results td{

	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	white-space: nowrap;
	background-color: rgb(213, 219, 225);
	/*border-top: 1px solid rgb(213, 230, 225);
	border-left: 1px solid rgb(213, 230, 225);
	border-right: 1px solid rgb(213, 230, 225);
	border-bottom: 1px solid rgb(213, 230, 225);*/
}


#results td.annname{
	background-color: rgb(213, 230, 225);
}

#results td.colhead{
	background-color: rgb(213, 230, 225);
}

#results tr.nextprev{
	background-color: white;
}

#results tr{
	background-color: rgb(213, 230, 225);
}

#results td.number {
	text-align: right;
}

#results tr.mainheader {
	border-top: 1px dashed blue;
	border-left: 1px dashed blue;
	border-right: 1px dashed blue;
	border-bottom: 2px solid blue;
	background-color: lightgray;
}

#results th.subhead{
	font: italic 12px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	white-space: nowrap;
	background-color: rgb(213, 230, 225);
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
}

#results td.number {
	text-align: right;
}

#results td.gtzero{
	text-align: right;
	background-color: rgb(219, 88, 68);
}
#results td.gtzeroyellow{
	text-align: right;
	background-color: rgb(255, 247, 26);
}
#results td.ltzeroblue{
	text-align: right;
	background-color: rgb(62, 142, 255);
}
#results td.zero{
	text-align: right;
	background-color: rgb(142, 142, 142);
}
#results td.ltzero{
	text-align: right;
	background-color: rgb(130, 219, 78);
}

#results td.colhead{
	background-color: rgb(213, 230, 225);
}

#results tr.colhead{
	background-color: rgb(213, 230, 225);
}

#results input{
	font: normal 9px/18px arial, verdana, lucida, sans-serif;
}

#results select {
	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;

}

#results td.questionparameter {
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
	background-color: rgb(213, 230, 225);
	font: normal 12px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	white-space: nowrap;
}

#results td.questionanswer {
	background-color: papayawhip;
	text-align: center;
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	white-space: nowrap;
}





/* Sortable tables */
table.sortable th {
    background-color:#eee;
    color:blue;
    font-weight: bold;
    text-decoration: none;

}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}

th.mainheader {
	border-top: 1px dashed blue;
	border-left: 1px dashed blue;
	border-right: 1px dashed blue;
	border-bottom: 2px solid blue;
	background-color: lightgray;
}

tr.titlerow {
	background-color: #ffff99;
}

#navcontainer
{
	display: static;
	margin: 0px 0 9px 0px;
	padding: 0;
	height: 20px;
	position: relative;
}



#cdnaesttable table{
border: 0px;

}

#cdnaesttable tr{
	font: bold 12px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	white-space: nowrap;
	background-color: rgb(213, 230, 225);
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
}

#cdnaesttable td.bluegray{
	background-color: rgb(213, 219, 225);
}


#cdnaesttable select {
	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;

}

#cdnaesttable th{
	border-top: 1px dashed blue;
	border-left: 1px dashed blue;
	border-right: 1px dashed blue;
	border-bottom: 2px solid blue;
	background-color: rgb(219,219,219);
}

#cdnaesttable td.questionparameter {
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
	background-color: rgb(213, 230, 225);
	font: normal 12px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	white-space: nowrap;
}

#cdnaesttable td.questionanswer {
	background-color: papayawhip;
	text-align: center;
	border-top: 1px solid rgb(213, 219, 225);
	border-left: 1px solid rgb(213, 219, 225);
	border-right: 1px solid rgb(213, 219, 225);
	border-bottom: 1px solid rgb(213, 219, 225);
	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
	padding: 2px 0.5em;
	white-space: nowrap;
}

p.close { text-align: right }

/*globalnav*/

#globalnav {
	position:relative;
	float:left;
	width:100%;
	padding:0 0 0em 0em;
	margin:0;
	list-style:none;
	line-height:1em;
}

#globalnav LI {
	float:left;
	margin:0;
	padding:0;
}

#globalnav A {
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#ddd;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
	font: normal 10px/12px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
}

#globalnav A:hover,
#globalnav A:active,
#globalnav A.here:link,
#globalnav A.here:visited {
	background:#bbb;
}

#globalnav A.here:link,
#globalnav A.here:visited {
	position:relative;
	z-index:102;
}

/*subnav*/
/*
#globalnav UL {
	position:absolute;
	left:0;
	top:1.5em;
	float:left;
	background:#bbb;
	width:100%;
	margin:0;
	padding:0.25em 0.25em 0.25em 0em;
	list-style:none;
	border-top:1px solid #fff;
}

#globalnav UL LI {
	float:left;
	display:block;
	margin-top:1px;
}

#globalnav UL A {
	background:#bbb;
	color:#fff;
	display:inline;
	margin:0;
	padding:0 0em;
	border:0
}

#globalnav UL A:hover,
#globalnav UL A:active,
#globalnav UL A.here:link,
#globalnav UL A.here:visited {
	color:#444;
}

#navcontainer
{
display: static;
margin: 0px 0 0px 0px;
padding: 0;
height: 20px;
}

#navcontainer ul
{
border: 0;
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li
{
display: block;
float: left;
text-align: center;
padding: 0;
margin: 0;
}

#navcontainer ul li a
{
background: #fff;
width: 78px;
height: 18px;
border-top: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
border-right: 1px solid blue;
padding: 0;
margin: 0 0 10px 0;
color: black;
text-decoration: none;
display: block;
text-align: center;
font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
}

#navcontainer ul li a:hover
{
color: blue;
background: #CCD;
}
*/
