/* change these styles if you like */
th.th			{background-image: url(../img/back_header.jpg); cursor: pointer; } 
th.thmouseover	{background-image: url(../img/back_header_mo.jpg);}
tr				{color: #505050; margin: 0pt; padding: 0pt;}
tr.tdeven		{background: #ffffff;}
tr.tdodd		{background: #F0F0F0;}
tr.rowmouseover	{color: black;}
tr.rowselected	{font-weight: bolder; color: black;}
td.divdel		{background: #FFFFFF;}
.tdpp			{font: 14px arial; cursor: pointer; margin: 1pt;}
img.imgdel		{background: #ffffff;}
img.imgadd		{cursor: pointer;}

div.tddiv {position: relative;}
img.imgedit {position: absolute; right:0px; top:0px;z-index:1;}

table.drasticgrid {font: 12px arial; table-layout: fixed; border-color: gray;}
.divth {overflow: hidden; white-space: nowrap; text-align: left;}
.divtd {overflow: hidden; white-space: nowrap; margin: 0pt; padding: 0pt;}
input, select {font: 12px arial; margin: 0pt; padding: 0pt;}

td#colslider.visible {border: #A8C1DA solid 1px;}
div.slider  {width: 16px; background: #eee;}
div.knob, div.up, div.down {width: 12px; background: #91C8FF; border: #A8C1DA solid 1px;}
div.knobmouseover, div.upmouseover, div.downmouseover {background: #B2D8FF; border: #6C7B89 solid 1px;}
div.up {margin: 0 0 1px 0}
div.down {margin: 1px 0 0 0}
div#tick {font-weight:bold; position: absolute; cursor: default;}